.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  padding: 1rem;
}

.form-container {

  padding: 2rem;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(194, 191, 191, 0.5);

}

.form-container h2 {
  margin-bottom: 2rem;
  color: #525252;
  font-weight: 600;
}

.input-group {
  position: relative;
  margin: 1.5rem 0;
}

input {
  width: 100%;
  padding: 1rem 0.75rem;
  background: transparent;
  border: 1px solid #444;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  outline: none;
}

input:focus,
input:valid {
  border-color: #929090;
}

label {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);

  color: #161616;
  padding: 0 0.25rem;
  pointer-events: none;
  transition: 0.2s ease all;
}

input:focus + label,
input:valid + label {
  top: -0.6rem;
  left: 0.6rem;
  font-size: 0.80rem;
  color: #3d3d3d;
}

button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

button:hover {
  background-color: #050505;
}

.error {
  color: #ff4c4c;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.toggle-link {
  margin-top: 1.5rem;
  color: #464545;
  cursor: pointer;
  font-size: 0.9rem;
}

.toggle-link:hover {
  color: #0c0c0c;
  text-decoration: underline;
}
